@charset "utf-8";
/* 共通スタイル */
div {
  /* 表示領域 */
  width: 500px;
  height: 500px;
  border: 1px solid #000;
  margin: 20px;
  /* 文字 */
  color: #555;
  font-size: 24px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  /* 背景画像 */
  background-image: url("sakura.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

/* cover: 要素全体を覆う */
.cover {
  background-size: cover;
}

/* contain: 要素内に収まる */
.contain {
  background-size: contain;
}

/* px：任意のサイズ（幅 高さ） */
.px {
  background-size: 200px auto;
}